In [1]:
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os 
import glob
import re


import time
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup
import numpy as np
import matplotlib.pyplot as plt
import platform
import re
from urllib.request import urlopen
%matplotlib inline

from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':
   rc('font', family='AppleGothic')
elif platform.system() == 'Windows'    :
   path = "c:/Windows/Fonts/malgun.ttf"
   font_name = font_manager.FontProperties(fname=path).get_name()
   rc('font', family=font_name)
else:
   print('Unknown system')

plt.rcParams['axes.unicode_minus'] = False

In [23]:
df = pd.read_csv('1022_01_full_name.csv', encoding='euc-kr')
print(df.shape)
df.head()

(6867, 9)

,품번,바코드,제품이름,차종,제조사,차량연식,공급업체명,기타사항,해상도
0,260603788R,201708021236001000000000000,헤드램프(전조등)(좌/운전석),SM6,르노삼성,2016,한양모터스,일반,"480,640"
1,260603788R,201708021236001000000000000,헤드램프(전조등)(좌/운전석),SM6,르노삼성,2016,한양모터스,일반,"480,640"
2,260603788R,201708021236001000000000000,헤드램프(전조등)(좌/운전석),SM6,르노삼성,2016,한양모터스,일반 필름벗겨짐,"480,640"
3,260603788R,201708021236001000000000000,헤드램프(전조등)(좌/운전석),SM6,르노삼성,2016,한양모터스,일반 필름벗겨짐,"480,640"
4,260603788R,201708021236001000000000000,헤드램프(전조등)(좌/운전석),SM6,르노삼성,2016,한양모터스,일반 필름벗겨짐,"480,640"

In [46]:
print('class: ',len(df['품번'].unique()))
df['품번'].value_counts()
pn = df['품번'].value_counts()
pn_pts = (pn / pn.sum()) * 100
pn_df = pd.DataFrame(pn_pts)
pn_df = pn_df.reset_index()
pn_df = pn_df.rename(columns={"index": "품번", "품번": "pcts"})
pn_df['count'] = list(pn)
print(pn_df.shape)
pn_df

class:  100
(100, 3)

              품번      pcts  count
0     9240639500  5.155090    354
1     9210138000  4.659968    320
2     924213C000  3.567788    245
3     9240239000  3.203728    220
4     924022D500  3.174603    218
5     924023B500  2.985292    205
6     9240239600  2.883355    198
7     924022D000  2.825106    194
8         924023  2.825106    194
9     924023D000  2.708606    186
10    9240207500  2.286297    157
11    9210234001  2.271734    156
12    924023K000  2.242610    154
13    9210138001  1.980486    136
14    924023B300  1.936799    133
15    924023B100  1.820300    125
16    924043V000  1.791175    123
17    924021Y000  1.529052    105
18    924023F000  1.514490    104
19    9210234500  1.325178     91
20    9210238001  1.310616     90
21    924023F500  1.252366     86
22    9240227500  1.237804     85
23    921023C500  1.223242     84
24    921023D000  1.179554     81
25    924023B501  1.179554     81
26    921023L000  1.121305     77
27    9240226000  1.092180     75
28    924022B000  1.063055     73
29    924202K000  1.004806     69
..           ...       ...    ...
70    921023T200  0.393185     27
71    921023K000  0.393185     27
72    924023L002  0.393185     27
73    921023E500  0.393185     27
74    8760639012  0.393185     27
75   9214013E0XX  0.393185     27
76    924023S300  0.393185     27
77    924023K400  0.393185     27
78    921023F500  0.378622     26
79    924023N000  0.378622     26
80    9240126500  0.364060     25
81    924022G600  0.349498     24
82    921022T301  0.349498     24
83    68102909AF  0.349498     24
84    9240226500  0.334935     23
85    9240225200  0.334935     23
86    8762007088  0.334935     23
87  8762017100CA  0.334935     23
88    924020J000  0.320373     22
89    5380251700  0.320373     22
90    9210222300  0.320373     22
91    924023A500  0.320373     22
92    921023A000  0.320373     22
93    921023V000  0.320373     22
94    924021F001  0.305810     21
95    921023R200  0.305810     21
96    9240126000  0.291248     20
97    9210225000  0.291248     20
98    260603788R  0.291248     20
99    9240202000  0.291248     20

[100 rows x 3 columns]

In [45]:
hae = df['해상도'].value_counts()
hae_pts = (hae / hae.sum()) * 100
hae_df = pd.DataFrame(hae_pts)
hae_df = hae_df.reset_index()
hae_df = hae_df.rename(columns={"index": "해상도", "해상도": "pcts"})
hae_df['count'] = list(hae)
print(hae_df.shape)
hae_df

(27, 3)

          해상도       pcts  count
0     480,640  78.505898   5391
1     384,512   4.383282    301
2     360,480   3.494976    240
3     360,640   3.291102    226
4    960,1280   2.679482    184
5   2988,5312   2.577545    177
6     720,960   1.703801    117
7   1536,2048   0.742682     51
8     600,800   0.742682     51
9    768,1024   0.640746     44
10  2448,3264   0.276686     19
11    400,600   0.174749     12
12  3096,4128   0.174749     12
13  3024,4032   0.101937      7
14  3000,4000   0.087374      6
15   756,1008   0.087374      6
16    960,720   0.058250      4
17    240,320   0.058250      4
18    540,960   0.058250      4
19    960,540   0.029125      2
20  1836,3264   0.029125      2
21  1494,2656   0.029125      2
22   922,1230   0.014562      1
23   875,1168   0.014562      1
24   990,1320   0.014562      1
25    640,480   0.014562      1
26  1005,1339   0.014562      1

In [29]:
count =0
count2 = 0
for i in df.index:
    a = df['제품이름'][i]
    if '전조등' in a:
        count = count +1
    count2 = count2 +1
print('전체 제품수:',count2)
print('전조등 제품수:',count)

전체 제품수: 6867
전조등 제품수: 1827

In [11]:
os.listdir('1022_01/')
print('총 이미지 숫자:',len(glob.glob('1022_01/*.jpg')))
imgs = [] 
real = [] 
imglist = glob.glob('1022_01/*.jpg')
for i in range(len(imglist)):
    a= imglist[i].replace('\\','@')
    a1= imglist[i].replace('\\','/')
    a = re.split('@',a)[1]
    imgs.append(a)
    real.append(a1)
print(imgs[0])

#===================
# img_size = []
# for i in range(len(imgs)):
# #for i in range(1):
#     a = '1022_01/'+imgs[i]
#     b = plt.imread(a)
#     c = str(b.shape[0])+','+str(b.shape[1])
#     img_size.append(c)
# df.to_csv('1022_01_full_name.csv', encoding='euc-kr',index=False)

총 이미지 숫자: 6867
260603788R_201708021236001000210001001_2.jpg